---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <head>
    <meta charset="utf-8" />
  </head>
  <!-- Format the publication date -->
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <!-- description -->
  <p><em>{frontmatter.description}</em></p>
  <!-- Written by: -->
  <p>Written by: {frontmatter.author}</p>
  <!-- Add an image -->
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <!-- Map through an array of tags and display the specific tags related to the md post -->
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>

<!-- Styling -->
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
